spring:
  application:
    name: gestao_vagas

  datasource:
    url: jdbc:postgresql://localhost:5432/gestao_vagas
    username: admin
    password: admin
  
  jpa:
    hibernate:
      ddl-auto: update
    
security:
  token:
    secret: JAVAGAS_@12341

management:
  endpoint:
    health:
      enabled: true
      show-details: always
    metrics:
      enabled: true
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: health,metrics